<!DOCTYPE html>
<html>
<head>
  <title>SessionsControllerLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <%=     link_to "Logout", :controller => 'sessions', :action => 'destroy' %>
  <% else %>

<%= yield %>

</body>
</html>
